.order {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 10px;
}

.order-item {
    display: flex;
    padding: 5px 10px;
    background-color: #eee;
}

.order-item p {
    margin: 0;
    padding-right: 20px;
    text-transform: capitalize;
}

.order-item > div {
    width: 150px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.delete-item {
    cursor: pointer;
}