.item {
    width: 100%;
    max-width: 180px;
    height: auto;
    -webkit-border-radius: 16px;
    -moz-border-radius: 10px;
    border-radius: 16px;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.16);
    text-align: center;
    cursor: pointer;
    margin: 10px;
}

.item h4 {
    text-transform: capitalize;
}