.orders {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.16);
    text-align: center;
    padding: 20px 0;
}

.hide .empty {
    display: none;
}